$background: #ffffff;
$background-high: #ebebff;
$background-inverse: #7C7287;

$border: #7C7287;

$outline: #B18FCF;

$heading: #595161;

$text: #000000;

$link: #748f8c;

$button-background-primary: #000000;
$button-background-primary-hover: #1d1d1d;
$button-text-primary: #ffffff;
$button-border-primary: transparent;

$button-background-secondary: #ffffff;
$button-background-secondary-hover: #f7f7f7;
$button-text-secondary: #000000;
$button-border-secondary: #000000;
