$heading: 'Bebas Neue', sans-serif;
$text: 'Roboto', sans-serif;
$link: 'Roboto', sans-serif;
$button: 'Bebas Neue', sans-serif;

$bold: 600;

$ms-2: 0.75rem;
$ms-1: 0.875rem;
$ms0: 1rem;
$ms1: 1.5rem;
$ms2: 2rem;
$ms3: 3rem;
